h1{
  color: red;
font-size: 100px;
padding-left: 35px;
padding-top: 20px;
position: absolute;
font-family: helvetica;
}

svg{
  height: 1920px;
  width: 1080px;
}

.st1:hover {
      filter: invert(27%) sepia(51%) saturate(2878%);
      stroke: red;
      stroke-width: 3;
      fill: red;
    }


.st2:hover {
   stroke:green;
}

#Layer_1 {
  background-color: green;
}

div{
  width: 80%;
  height: 80%;
}
