#root {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.App {
    width: 100%;
    height: 100vh; /* Set height to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Utile per rendere cliccabili gli elementi */
.clickable {
    cursor: pointer;
}

/* Se l'app è in caricamento, nascondo il contenuto */
.appLoading {
    opacity: 0;
}

.text-left {
    text-align: left;
}

.button-orange {
    background-color: orange !important;
    border-color: orange !important;
}

/* Quando il mouse fa hover sul bottone, il colore cambia leggermente */
.button-orange:hover {
    background-color: darkorange !important;
    border-color: darkorange !important;
}

/* Serve per evitare che ci sia lo scroll su dispositivi mobile */
@media (max-width: 768px) {
    html, body {
        overflow: hidden;
        height: 100%;
    }
}

/** SCHERMATA LOG-IN **/

.login {
    margin-top: 50px;
    /* Add your desired CSS attributes here */
    padding: 20px;
    border-radius: 5px;
}

/** SVG **/

.svg-container {
    width: 1600px;
    height: 300px;
    max-width: 100%; /* Mi assicuro che non supera la larghezza del parent */
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: block;
}

.svg-content svg {
    width: 100%;
    height: 100%; /* Ensure the SVG takes up the full height of the container */
}

/*** TITOLO ***/

.titolo {
    margin-top: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.titolo-mobile {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/*** TESTI ***/

.messaggio-autopilot-attivo-mobile {
    font-size: 20px;
    margin-top: 30px;
}

/*** QUADRO COMANDI CONVOGLIO ***/

.quadroComandiConvoglio {
    margin-top: 0px;
    margin-right: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
}

.quadroComandiConvoglio-mobile {
    margin-top: 45px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.tendinaSelezioneConvoglio {
    display: block;
    margin: 0 auto; /* Center the select box horizontally */
    text-align: center; /* Center the text inside the select box */
}

.attributoTestoQuadroComandiConvoglio {
    width: 150px;
    height: 30px;
}

.attributoBottoneComuneConvoglio {
    width: 130px;
    height: auto;
    /*white-space: nowrap; /* Per evitare che la riga venga spaccata a metà */
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 40px;
    text-align: left; /* Align text to the left */
}

/** SLIDER **/

/* Per evitare che la larghezza dello slider dipenda dalla scritta, altrimenti in base al numero delle cifre della velocità lo slider si allarga o si restringe. */
.slider-container {
    /* width: 200px; Riattivare per slider in orizzontale */
    width: 100px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra gli elementi */
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.velocitaMassima {
    margin-top: 0px;
    margin-bottom: 15px;
}

.velocitaMinima {
    margin-top: 10px;
}

/*** BOTTONI ***/

.autopilot-button {
    position: fixed;
    top: 75px;
    left: 10px;
    z-index: 1000;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.stop-emergenza-button {
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.sticky-stop-emergenza {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.sticky-stop-emergenza-mobile {
    position: fixed;
    bottom: 10px;
    z-index: 1000;
}

.bottoneSensori {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.bottoneSezioni {
    position: fixed;
    bottom: 10px;
    left: 85px;
    z-index: 1000;
}

.sticky-debugging-sensori {
    position: fixed;
    bottom: 10px;
    right: 160px;
    z-index: 1000;
}

.sticky-debugging-sezioni {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.sticky-login {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.sticky-login-mobile {
    position: fixed;
    bottom: 90px;
    z-index: 1000;
}

/*** STILE ***/

/** SCAMBI **/

.scambioAttivo {
    stroke: rgb(0, 0, 0);
}

.scambioInattivo {
    stroke: rgba(140, 138, 138, 0.5);
}

/** SENSORI **/

.sensoreAttivo {
    fill: #80ea18;
}

.sensoreNonAttivo {
    fill: #f63e3e;
}

.sensoreInAttesa {
    fill: #f1e941;
}

.sensoreNonNascosto {
    opacity: 1;
}

.sensoreNascosto {
    opacity: 0;
}

/** SEZIONI **/

.sezioneLibera {
    stroke: rgb(97, 246, 1);
}

.sezioneOccupata {
    stroke: rgb(255, 0, 0);
}

/* BINARI */

.binarioStazioneDisponibileECompatibileConvoglio {
    stroke: rgb(97, 246, 1);
}

.binarioStazioneOccupato {
    stroke: rgb(255, 0, 0);
}

.binarioStazioneNonCompatibileConvoglio {
    stroke: rgb(255, 136, 0);
}

.binarioStazioneNonRaggiungibile {
    stroke: rgba(133, 129, 127, 0.71);
}

.binarioStazioneCorrente {
    stroke: rgb(91, 155, 251);
}
